{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="center">
                <h4> Modificación de datos de la persona </h4>
            </div>
            <form action="" enctype="multipart/form-data" method="post">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col m5">
                        <h5>Datos Personales</h5>
                    </div>
                </div>
                <div class="row center" style="margin-bottom: 0px;">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <div class="input-field">
                            {{ form.lastname.label }}
                            {% if form.lastname.errors %}
                            {{ form.lastname(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.lastname.errors[0]}}"></span>
                            {% else %}
                            {{ form.lastname(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m5">
                        <div class="input-field">
                            {{ form.firstname.label }}
                            {% if form.firstname.errors %}
                            {{ form.firstname(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.firstname.errors[0]}}"></span>
                            {% else %}
                            {{ form.firstname(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="divider"></div>
                <div class="row center">
                    <div class="col m12">
                        <h5>Documentos de identidad</h5>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col m1"></div>
                    <div class="col m5">
                        {{ form.person_number_type.label }}
                        {% if form.person_number_type.errors %}
                        {{ form.person_number_type(class="validate invalid") }}
                        <span class="helper-text" data-error="{{form.gender.errors[0]}}"></span>
                        {% else %}
                        {{ form.person_number_type(class="validate") }}
                        {% endif %}
                    </div>
                    <div class="col m4">
                        <div class="input-field">
                            {{ form.person_number.label }}
                            {% if form.person_number.errors %}
                            {{ form.person_number(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.lastname.errors[0]}}"></span>
                            {% else %}
                            {{ form.person_number(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m1 center">
                        <a class="btn-floating waves-effect waves-light green" href="#agregar"><i class="material-icons">add</i></a>
                    </div>
                    <div class="col m1"></div>
                </div>
                {% if person.identity_numbers|length > 0 %}
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <table class="centered striped responsive-table">
                            <thead>
                                <tr>
                                    <th style="padding-top: 5px; padding-bottom: 5px;">Tipo de documento</th>
                                    <th style="padding-top: 5px; padding-bottom: 5px;">Número</th>
                                    <th style="padding-top: 5px; padding-bottom: 5px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pi in person.identity_numbers %}
                                <tr>
                                    <td style="padding-top: 5px; padding-bottom: 5px;">{{pi.type.value}}</td>
                                    <td style="padding-top: 5px; padding-bottom: 5px;">{{pi.number}}</td>
                                    {% if pi.type.value != 'DNI' %}
                                    <td style="padding-top: 5px; padding-bottom: 5px;"><a class="btn-floating btn-small waves-effect waves-light red" href="#eliminar#{{pi.id}}"><i class="material-icons">delete</i></a></td>
                                    {% else %}
                                    <td style="padding-top: 5px; padding-bottom: 5px;"></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col m1"></div>
                </div>
                {% endif %}
                <div class="divider"></div>
                <br>
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m3">
                        {{ form.gender.label }}
                        {% if form.gender.errors %}
                        {{ form.gender(class="validate invalid") }}
                        <span class="helper-text" data-error="{{form.gender.errors[0]}}"></span>
                        {% else %}
                        {{ form.gender(class="validate") }}
                        {% endif %}
                    </div>
                    <div class="col m3">
                        {{ form.marital_status.label }}
                        {% if form.marital_status.errors %}
                        {{ form.marital_status(class="validate invalid") }}
                        <span class="helper-text" data-error="{{form.marital_status.errors[0]}}"></span>
                        {% else %}
                        {{ form.marital_status(class="validate") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m3">
                        <div class="input-field">
                            {{ form.birthplace.label }}
                            {% if form.birthplace.errors %}
                            {{ form.birthplace(class="validate invalid form-control autocomplete") }}
                            <span class="helper-text" data-error="{{form.birthplace.errors[0]}}"></span>
                            {% else %}
                            {{ form.birthplace(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m3">
                        <div class="input-field">
                            {{ form.birthdate.label }}
                            {% if form.birthdate.errors %}
                            {{ form.birthdate(class="validate invalid datepicker") }}
                            <span class="helper-text" data-error="{{form.birthdate.errors[0]}}"></span>
                            {% else %}
                            {{ form.birthdate(class="validate datepicker") }}
                            {% endif %}

                        </div>
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col m5">
                        <h5>Domicilio</h5>
                    </div>
                </div>
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m6">
                        <div class="input-field">
                            {{ form.address.label }}
                            {% if form.address.errors %}
                            {{ form.address(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.address.errors[0]}}"></span>
                            {% else %}
                            {{ form.address(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m4">
                        <div class="input-field">
                            {{ form.residence.label }}
                            {% if form.residence.errors %}
                            {{ form.residence(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.residence.errors[0]}}"></span>
                            {% else %}
                            {{ form.residence(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col m5">
                        <h5>Contacto</h5>
                    </div>
                </div>
                <div class="row center">
                    <div class="col m12">
                        <h5>Correos electrónicos</h5>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col m1"></div>
                    <div class="col m4">
                        {{ form.email_type.label }}
                        {% if form.email_type.errors %}
                        {{ form.email_type(class="validate invalid") }}
                        <span class="helper-text" data-error="{{form.gender.errors[0]}}"></span>
                        {% else %}
                        {{ form.email_type(class="validate") }}
                        {% endif %}
                    </div>
                    <div class="col m5">
                        <div class="input-field">
                            {{ form.email.label }}
                            {% if form.email.errors %}
                            {{ form.email(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.lastname.errors[0]}}"></span>
                            {% else %}
                            {{ form.email(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m1 center">
                        <a class="btn-floating waves-effect waves-light green" href="#agregar"><i class="material-icons">add</i></a>
                    </div>
                    <div class="col m1"></div>
                </div>
                {% if person.mails|length > 0 %}
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <table class="centered striped responsive-table small">
                            <thead>
                                <tr>
                                    <th style="padding-top: 5px; padding-bottom: 5px;">Correos electrónicos</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pm in person.mails %}
                                <tr>
                                    <td style="padding-top: 5px; padding-bottom: 5px;">{{pm.email}}</td>
                                    {% if pm.type.value != 'INSTITUTIONAL' %}
                                    <td style="padding-top: 5px; padding-bottom: 5px;"><a class="btn-floating btn-small waves-effect waves-light red" href="#eliminar#{{pm.id}}"><i class="material-icons">delete</i></a></td>
                                    {% else %}
                                    <td style="padding-top: 5px; padding-bottom: 5px;"></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>                    
                    <div class="col m1"></div>
                </div>
                {% endif %}
                <div class="divider"></div>
                <div class="row center">
                    <div class="col m12">
                        <h5>Teléfonos</h5>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col m1"></div>
                    <div class="col m4">
                        {{ form.phone_type.label }}
                        {% if form.phone_type.errors %}
                        {{ form.phone_type(class="validate invalid") }}
                        <span class="helper-text" data-error="{{form.gender.errors[0]}}"></span>
                        {% else %}
                        {{ form.phone_type(class="validate") }}
                        {% endif %}
                    </div>
                    <div class="col m5">
                        <div class="input-field">
                            {{ form.phone_number.label }}
                            {% if form.phone_number.errors %}
                            {{ form.phone_number(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.lastname.errors[0]}}"></span>
                            {% else %}
                            {{ form.phone_number(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m1 center">
                        <a class="btn-floating waves-effect waves-light green" href="#agregar"><i class="material-icons">add</i></a>
                    </div>
                    <div class="col m1"></div>
                </div>
                {% if person.phones|length > 0 %}
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <table class="centered striped responsive-table small">
                            <thead>
                                <tr>
                                    <th style="padding-top: 5px; padding-bottom: 5px;"></th>
                                    <th style="padding-top: 5px; padding-bottom: 5px;">Numeros telefónicos</th>
                                    <th style="padding-top: 5px; padding-bottom: 5px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ph in person.phones %}
                                <tr>
                                    {% if ph.type.value == 'LANDLINE' %}
                                    <td style="padding-top: 5px; padding-bottom: 5px;"><i class="material-icons">phone</i></td>
                                    {% else %}
                                    <td style="padding-top: 5px; padding-bottom: 5px;"><i class="material-icons">phone_android</i></td>
                                    {% endif %}
                                    <td style="padding-top: 5px; padding-bottom: 5px;">{{ph.number}}</td>
                                    <td style="padding-top: 5px; padding-bottom: 5px;"><a class="btn-floating btn-small waves-effect waves-light red" href="#eliminar#{{ph.id}}"><i class="material-icons">delete</i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>                    
                    <div class="col m1"></div>
                </div>
                {% endif %}
                <div class="divider"></div>
                <div class="row">
                    <div class="col m5">
                        <h5>Datos Laborales</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <h6>Antigüedad Externa</h6>
                    </div>
                </div>
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m2">
                        <div class="input-field">
                            {{ form.seniority_external_years.label }}
                            {% if form.seniority_external_years.errors %}
                            {{ form.seniority_external_years(class="validate invalid", type="number") }}
                            <span class="helper-text" data-error="{{form.seniority_external_years.errors[0]}}"></span>
                            {% else %}
                            {{ form.seniority_external_years(class="validate", type="number") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m2">
                        <div class="input-field">
                            {{ form.seniority_external_months.label }}
                            {% if form.seniority_external_months.errors %}
                            {{ form.seniority_external_months(class="validate invalid", type="number") }}
                            <span class="helper-text" data-error="{{form.seniority_external_months.errors[0]}}"></span>
                            {% else %}
                            {{ form.seniority_external_months(class="validate", type="number") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m2">
                        <div class="input-field">
                            {{ form.seniority_external_days.label }}
                            {% if form.seniority_external_days.errors %}
                            {{ form.seniority_external_days(class="validate invalid", type="number") }}
                            <span class="helper-text" data-error="{{form.seniority_external_days.errors[0]}}"></span>
                            {% else %}
                            {{ form.seniority_external_days(class="validate", type="number") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="divider"></div>
                <br>
                <div class="row">
                    <div class="col m3"></div>
                    <div class="col m1">
                        <button class="btn red lighten-2" type="reset">limpiar</button>
                    </div>
                    <div class="col m3"></div>
                    <div class="col m3">
                        <button class="btn light-blue darken-3">guardar cambios</button>
                    </div>
                    <div class="col m3"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col m1"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('input.autocomplete').autocomplete({
            data: {},
            minLength: 4
        });
        $("#birthplace").keyup(function () {
            var query = $(this).val();
            if ((query != '') && (query.length > 3)) {
                $.ajax({
                    dataType: "json",
                    url: "http://localhost:10202/api/v0.1/ciudades/buscar",
                    xhrFields: { withCredentials: true },
                    method: "GET",
                    data: { query: query },
                    success: function (data) {
                        let options = {};
                        for (d in data) {
                            options[data[d]["name"]] = null;
                        }
                        $("#birthplace").autocomplete("updateData", options);
                    }
                });
            } else {
                $("#birthplace").autocomplete({ data: {} })
            }
        });
        $("#residence").keyup(function () {
            var query = $(this).val();
            if ((query != '') && (query.length > 3)) {
                $.ajax({
                    dataType: "json",
                    url: "http://localhost:10202/api/v0.1/ciudades/buscar",
                    xhrFields: { withCredentials: true },
                    method: "GET",
                    data: { query: query },
                    success: function (data) {
                        let options = {};
                        for (d in data) {
                            options[data[d]["name"]] = null;
                        }
                        $("#residence").autocomplete("updateData", options);
                    }
                });
            } else {
                $("#residence").autocomplete({ data: {} })
            }
        });
    });

    $(function () {
        $('select').formSelect();
        $('.datepicker').datepicker({
            format: 'd-m-yyyy',
            minDate: new Date(1900, 1, 1),
            maxDate: new Date(),
            showClearBtn: true,
            autoClose: true,
            i18n: {
                months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                weekdaysAbbrev: ["D", "L", "M", "M", "J", "V", "S"],
                today: 'Hoy',
                clear: 'Limpiar',
                done: 'Aceptar',
                cancel: 'Cancelar',
            }
        });
    });
</script>
{% endblock %}