{% extends "base.html" %}
{% block content %}

    {% if error %}
        
        {{ error }}

    {% else %}

        <div class='container'>
            <div>
            <h5>Nombre: {{ person.firstname }}<h5>
            </div>
            <div>
            <h5>Apellido: {{ person.lastname }}</h5>
            </div>

            {% if credentials %}

                <br><br>
                <h4>Clave Autogenerada:</h4>
                <div>
                <h3>{{ credentials }}</h3>
                </div>

            {% else %}

                <form method='POST'>
                    {{ form.hidden_tag() }}
                    {{ form.modifyCredentials }}
                </form>

            {% endif %}

        </div>
    {% endif %}

{% endblock %}