{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="center">
                <h4> Búsqueda de Personas </h4>
            </div>
            <div class="divider"></div>
            <br>
            <div class="col m2"></div>
            <form>
                <div class="row">
                    <div class="input-field col m6">
                        <i class="material-icons prefix">search</i>
                        {{ form.query }}
                        {{ form.query.label }}
                    </div>
                    <div class="input-field col m2">
                        <button class="btn waves-effect waves-light light-blue darken-3" type="submit">buscar</button>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <br>
            <div>
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th>Apellido y Nombre</th>
                            <th>Documento</th>
                            <th class="center">Acciones</th>
                            <th class="center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in persons %}
                        <tr>
                            <td><a class="blue-text darken-4" href="{{url_for('persons.personData', uid=p.id)}}">{{ p.firstname }}, {{ p.lastname }}</a> </td>
                            <td><a class="blue-text darken-4" href="{{url_for('persons.personData', uid=p.id)}}">{{ p.person_number }}</a></td>
                            <td class="center">
                                <a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="#" data-target="d{{p.id}}">
                                    <i class="material-icons">edit</i>
                                </a>
                            </td>
                            <td class="center"><a class="btn-floating waves-effect waves-light red" href="#eliminar">
                                <i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% for p in persons %}
                <ul id='d{{p.id}}' class='dropdown-content'>                        
                    <li><a class="blue-text darken-4" href="{{url_for('persons.modifyPersonData', uid=p.id)}}">Modificar</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a class="blue-text darken-4" href="{{url_for('designations.personDesignations', uid=p.id)}}">Designaciones</a></li>
                    <li><a class="blue-text darken-4" href="{{url_for('persons.degrees', uid=p.id)}}">Titulos</a></li>
                    <li><a class="blue-text darken-4" href="{{url_for('leavelicense.create_personal_leave', uid=p.id)}}">Generar Licencia</a></li>
                    <li><a class="blue-text darken-4" href="{{url_for('leavelicense.list_leave_licenses', uid=p.id)}}">Ver Licencias</a></li>
                </ul>
                {% endfor %}
            </div>
            <br>
            <div class="center">
                <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active teal"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}