{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="center">
                <h4> Búsqueda de Personas </h4>
            </div>
            <div class="divider"></div>
            <br>
            <div class="col m2"></div>
            <form>
                <div class="row">
                    <div class="input-field col m6">
                        <i class="material-icons prefix">search</i>
                        {{ form.query }}
                        {{ form.query.label }}
                    </div>
                    <div class="input-field col m2">
                        <button class="btn waves-effect waves-light light-blue darken-3" type="submit">buscar</button>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <br>
            <div>
                {% if persons %}
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th>Apellido y Nombre</th>
                            <th class="center">Tipo de Documento</th>
                            <th class="center">Documento</th>
                            <th class="center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in persons %}
                        <tr>
                            <td><a class="blue-text darken-4" href="{{url_for('persons.personData', uid=p.id)}}">{{ p.lastname }}, {{ p.firstname }}</a> </td>
                            <td class="center"><a class="blue-text darken-4" href="{{url_for('persons.personData', uid=p.id)}}">{{ p.identity_numbers[0].type.name }}</a> </td>
                            <td class="center"><a class="blue-text darken-4" href="{{url_for('persons.personData', uid=p.id)}}">{{ p.identity_numbers[0].number }}</a></td>
                            <td class="center">
                                <a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="#" data-target="d{{p.id}}">
                                    <i class="material-icons">edit</i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% for p in persons %}
                <ul id='d{{p.id}}' class='dropdown-content'>                        
                    <li><a class="blue-text darken-4" href="{{url_for('persons.modifyPersonData', uid=p.id)}}">Modificar</a></li>
                    <li><a class="blue-text darken-4" href="{{url_for('designations.personDesignations', uid=p.id)}}">Designaciones</a></li>
                    <li><a class="blue-text darken-4" href="{{url_for('persons.degrees', uid=p.id)}}">Títulos</a></li>
                    <li><a class="blue-text darken-4" href="{{url_for('leavelicense.create_personal_leave', uid=p.id)}}">Generar Licencia</a></li>
                    <li><a class="blue-text darken-4" href="{{url_for('leavelicense.list_leave_licenses', uid=p.id)}}">Ver Licencias</a></li>
                </ul>
                {% endfor %}
                {% elif persons != None %}
                <div class="center">
                    <h4> No se encontraron resultados </h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}