{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="row">
                <div class="col m5">
                    <h5>Datos Personales</h5>
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <h6><strong>Apellidos</strong></h6>
                    <p>{{person.lastname}}</p>
                </div>
                <div class="col m5">
                    <h6><strong>Nombres</strong></h6>
                    <p>{{person.firstname}}</p>
                </div>
                <div class="col m1"></div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <h6><strong>Tipo de documento</strong></h6>
                    {% if person.person_number_type %}
                    <p>{{person.person_number_type.value}}</p>
                    {% else %}
                    <p>No se encuentra registrado</p>
                    {% endif %}
                </div>
                <div class="col m5">
                    <h6><strong>Número de documento</strong></h6>
                    {% if person.person_number %}
                    <p>{{person.person_number}}</p>
                    {% else %}
                    <p>No se encuentra registrado</p>
                    {% endif %}
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <h6><strong>Género</strong></h6>
                    {% if person.gender %}
                    <p>{{person.gender}}</p>
                    {% else %}
                    <p>No se encuentra registrado</p>
                    {% endif %}
                </div>
                <div class="col m5">
                    <h6><strong>Estado civil</strong></h6>
                    {% if person.marital_status %}
                    <p>{{person.marital_status}}</p>
                    {% else %}
                    <p>No se encuentra registrado</p>
                    {% endif %}
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <h6><strong>Lugar de nacimiento</strong></h6>
                    {% if person.birthplace %}
                    <p>{{person.birthplace}}</p>
                    {% else %}
                    <p>No se encuentra registrado</p>
                    {% endif %}
                </div>
                <div class="col m5">
                    <h6><strong>Fecha de nacimiento</strong></h6>
                    {% if person.birthdate %}
                    <p>{{person.birthdate}}</p>
                    {% else %}
                    <p>No se encuentra registrado</p>
                    {% endif %}
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col m5">
                    <h5>Domicilio</h5>
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <h6><strong>Direccion</strong></h6>
                    {% if person.address %}
                    <p>{{person.address}}</p>
                    {% else %}
                    <p>No se encuentra registrado</p>
                    {% endif %}
                </div>
                <div class="col m5">
                    <h6><strong>Ciudad de residencia</strong></h6>
                    {% if person.residence %}
                    <p>{{person.residence}}</p>
                    {% else %}
                    <p>No se encuentra registrado</p>
                    {% endif %}
                </div>
                <div class="col m1"></div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col m5">
                    <h5>Contacto</h5>
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <h6><strong>Correo de trabajo</strong></h6>
                    {% for m in person.mails%}
                    <p>{{m.email}}</p>
                    {% endfor %}
                </div>
                <div class="col m5">
                    <h6><strong>Correo Personal</strong></h6>
                    {% for m in person.mails%}
                    <p>{{m.email}}</p>
                    {% endfor %}
                </div>
                <div class="col m1"></div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <h6><strong>Teléfono Fijo</strong></h6>
                    {% if person.phones|length > 0 %}
                    {% for ph in person.phones%}
                    {% if ph.type == 'LANDLINE' %}
                    <p>ph.number</p>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p>No se encuentra registrado</p>
                    {% endif %}
                </div>
                <div class="col m5">
                    <h6><strong>Teléfono Móvil</strong></h6>
                    {% if person.phones|length > 0 %}
                    {% for ph in person.phones%}
                    {% if ph.type == 'CELLPHONE' %}
                    <p>ph.number</p>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p>No se encuentra registrado</p>
                    {% endif %}
                </div>
                <div class="col m1"></div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col m5">
                    <h5>Archivos</h5>
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <a href="#">
                        <i class="large material-icons">cloud_download</i>
                        <h6><strong>Descargar DNI</strong></h6>
                    </a>
                </div>
                <div class="col m5">
                    <a href="#">
                        <i class="large material-icons">cloud_download</i>
                        <h6><strong>Descargar constancia de CUIL</strong></h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col m1"></div>

    {% endblock %}