{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="row">
                <div class="col m5">
                    <h5>Datos Personales</h5>
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <p>Apellidos</p>
                    <h6><strong>{{person.lastname}}</strong></h6>
                </div>
                <div class="col m5">
                    <p>Nombres</p>
                    <h6><strong>{{person.firstname}}</strong></h6>
                </div>
                <div class="col m1"></div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <p>Tipo de documento</p>
                    {% if person.identity_numbers|length > 0 %}
                    {% for pi in person.identity_numbers if pi.type.value != 'CUIL' and pi.type.value != 'CUIT' %}
                    <h6><strong>{{pi.type.value}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endfor %}
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <div class="col m5">
                    <p>Número de documento</p>
                    {% if person.identity_numbers|length > 0 %}
                    {% for pi in person.identity_numbers if pi.type.value != 'CUIL' and pi.type.value != 'CUIT' %}
                    <h6><strong>{{pi.number}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endfor %}
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <p>Género</p>
                    {% if person.gender %}
                    <h6><strong>{{person.gender}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <div class="col m5">
                    <p>Estado civil</p>
                    {% if person.marital_status %}
                    <h6><strong>{{person.marital_status}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <p>Lugar de nacimiento</p>
                    {% if person.birthplace %}
                    <h6><strong>{{person.birthplace}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <div class="col m5">
                    <p>Fecha de nacimiento</p>
                    {% if person.birthdate %}
                    <h6><strong>{{person.birthdate}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col m5">
                    <h5>Domicilio</h5>
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <p>Direccion</p>
                    {% if person.address %}
                    <h6><strong>{{person.address}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <div class="col m5">
                    <p>Ciudad de residencia</p>
                    {% if person.residence %}
                    <h6><strong>{{person.residence}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <div class="col m1"></div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col m5">
                    <h5>Contacto</h5>
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <p>Correo de trabajo</p>
                    {% if person.mails|length > 0 %}
                    {% for pm in person.mails if pm.type.value == 'NOTIFICATION' %}
                    <h6><strong>{{pm.email}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endfor %}
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <div class="col m5">
                    <p>Correo Personal</p>
                    {% if person.mails|length > 0 %}
                    {% for pm in person.mails if pm.type.value == 'ALTERNATIVE' %}
                    <h6><strong>{{pm.email}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endfor %}
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <div class="col m1"></div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <p>Teléfono Fijo</p>
                    {% if person.phones|length > 0 %}
                    {% for ph in person.phones if ph.type.value == 'LANDLINE' %}
                    <h6><strong>{{ph.number}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endfor %}
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <div class="col m5">
                    <p>Teléfono Móvil</p>
                    {% if person.phones|length > 0 %}
                    {% for ph in person.phones if ph.type.value == 'CELLPHONE' %}
                    <h6><strong>{{ph.number}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endfor %}
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <div class="col m1"></div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col m5">
                    <h5>Archivos</h5>
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <a href="#">
                        <i class="large material-icons">cloud_download</i>
                        <h6><strong>Descargar DNI</strong></h6>
                    </a>
                </div>
                <div class="col m5">
                    <a href="#">
                        <i class="large material-icons">cloud_download</i>
                        <h6><strong>Descargar constancia de CUIL</strong></h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col m1"></div>

    {% endblock %}