{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="row">
                <div class="col m5">
                    <h5>Datos Personales</h5>
                </div>
            </div>
            <div style="display:grid; grid-template-columns: 1fr 4fr;">
                <div>Apellidos:</div><div>{{person.lastname}}</div>
                <div>Nombres:</div><div>{{person.firstname}}</div>

                {% for id in person.identity_numbers %}
                    <div>{{ id.type.value }}</div>
                    <div>{{ id.number }}</div>
                {% endfor %} 

                <div>Género:</div>
                <div>
                    {% if person.gender %}
                        {{person.gender}}
                    {% else %}
                        No se encuentra registrado
                    {% endif %}
                </div>
                <div>Estado civil</div>
                    {% if person.marital_status %}
                    <div>{{person.marital_status}}</div>
                    {% else %}
                    <div>No se encuentra registrado</div>
                    {% endif %}
                <div>Lugar de nacimiento</div>
                    {% if person.birthplace %}
                    <div>{{person.birthplace}}</div>
                    {% else %}
                    <div>No se encuentra registrado</div>
                    {% endif %}
                <div>Fecha de nacimiento</div>
                    {% if person.birthdate %}
                    <div>{{person.birthdate.strftime('%d/%m/%Y')}}</div>
                    {% else %}
                    <div>No se encuentra registrado</div>
                    {% endif %}
            </div>
            <br>
            <div class="divider"></div>
            <br>
            <div style="display:grid; grid-template-columns: 1fr 4fr;">
                <p>Dirección</p>
                    {% if person.address %}
                    <h6><strong>{{person.address}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                <p>Ciudad de residencia</p>
                    {% if person.residence %}
                    <h6><strong>{{person.residence}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col m5">
                    <h5>Contacto</h5>
                </div>
            </div>
            <div style="display:grid; grid-template-columns: 1fr 4fr;">
                <p>Correo de trabajo</p>
                <div>
                    {% if person.mails|length > 0 %}
                        {% for pm in person.mails if pm.type.value == 'INSTITUTIONAL' or pm.type.value == 'NOTIFICATION' %}
                            {% if not pm.deleted %}
                            <h6><strong><a href="mailto:{{pm.email}}">{{pm.email}}</a></strong></h6>
                            {% else %}
                            <h6><strong>No se encuentra registrado</strong></h6>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <p>Correo Personal</p>
                <div>
                    {% if person.mails|length > 0 %}
                    {% for pm in person.mails if pm.type.value == 'ALTERNATIVE' %}
                    {% if not pm.deleted %}
                    <h6><strong><a href="mailto:{{pm.email}}">{{pm.email}}</a></strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <p>Teléfono Fijo</p>
                <div>
                    {% if person.phones|length > 0 %}
                    {% for ph in person.phones if ph.type.value == 'LANDLINE' %}
                    {% if not ph.deleted %}
                    <h6><strong>{{ph.number}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
                <p>Teléfono Móvil</p>
                <div>
                    {% if person.phones|length > 0 %}
                    {% for ph in person.phones if ph.type.value == 'CELLPHONE' %}
                    {% if not ph.deleted %}
                    <h6><strong>{{ph.number}}</strong></h6>
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <h6><strong>No se encuentra registrado</strong></h6>
                    {% endif %}
                </div>
            </div>
            <div class="divider"></div>
            {% if external_seniority %}
            <div class="row">
                <div class="col m5">
                    <h5>Antigüedad externa</h5>
                </div>
            </div>
            <div class="row center">
                <div class="col m1"></div>
                <div class="col m5">
                    <table class="centered responsive-table">
                        <thead>
                            <tr>
                                <th>Años</th>
                                <th>Meses</th>
                                <th>Días</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{external_seniority.years}}</td>
                                <td>{{external_seniority.months}}</td>
                                <td>{{external_seniority.days}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col m1"></div>
            </div>
            <div class="divider"></div>
            {% endif %}
            <div class="row">
                <div class="col m5">
                    <h5>Archivos</h5>
                </div>
            </div>
            <div class="row center">
                {% if person.identity_numbers|length > 0 %}
                <div class="col m1"></div>
                <div class="col m5">
                    <h6><strong>Descarga de Documentos de identidad</strong></h6>
                </div>
                <div class="col m5">
                    <h6><strong>Descarga de constancias de CUIL</strong></h6>
                </div>
            </div>
            <div class="row center">
                <div class="col m6">
                    <table class="centered responsive-table">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Número</th>
                                <th>Fecha de carga</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for pi in person.identity_numbers if pi.type.value != 'CUIL' and pi.type.value != 'CUIT' %}
                            {% if not pi.deleted %}
                            <tr>
                                <td>{{pi.type.value}}</td>
                                <td>{{pi.number}}</td>
                                {% if pi.file and not pi.file.deleted %}
                                <td>{{pi.file.created.strftime('%d/%m/%Y')}}</td>
                                <td class="blue-text darken-4">
                                    <a href="{{url_for('persons.downloadIdNumberFile',uid=person.id,iid=pi.id)}}" download>
                                        <i class="material-icons">cloud_download</i>
                                    </a>
                                </td>
                                {% else %}
                                <td colspan="2">No se subió archivo</td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% else %}
                            <tr>
                                <td colspan="4">No se encuentran subidos archivos de documento de identidad</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col m6">
                    <table class="centered responsive-table">
                        <thead>
                            <tr>
                                <th>CUIT / CUIL</th>
                                <th>Número</th>
                                <th>Fecha de carga</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for pi in person.identity_numbers if pi.type.value == 'CUIL' or pi.type.value == 'CUIT' %}
                            {% if not pi.deleted %}
                            <tr>
                                <td>{{pi.type.value}}</td>
                                <td>{{pi.number}}</td>
                                {% if pi.file %}
                                <td>{{pi.file.created.strftime('%d/%m/%Y')}}</td>
                                <td><a href="{{url_for('persons.downloadIdNumberFile',uid=person.id,iid=pi.id)}}" download>
                                        <i class="material-icons">cloud_download</i>
                                    </a>
                                </td>
                                {% else %}
                                <td colspan="2">No se subió archivo</td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% else %}
                            <tr>
                                <td colspan="4">No se encuentran subidos archivos de constancia de CUIT / CUIL</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <h6><strong>No se subieron archivos para este usuario</strong></h6>
            {% endif %}
        </div>
    </div>
    <div class="col m1"></div>
</div>
    {% endblock %}