{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="row">
                <div class="col m8">
                    <h4>Alta de Licencia de Designación</h4>
                </div>
                <div class="col m3">
                    <p>Nombre: {{person.firstname}}</p>
                    <p>Apellido: {{person.lastname}}</p>
                    <p>DNI: {{person.person_number}}</p>
                </div>
                <div class="col m3">
                    <h5>Designación</h5>
                    <p>Cargo: {{designation.function.name}}</p>
                    <p>Ubicación: {{designation.place.name}}</p>
                </div>                
            </div>
            <div class="divider"></div>
            <form action="" method="post">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="col m5">
                        <h5 class="grey-text text-darken-2">Datos de licencia</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m4">
                        {{ form.type.label }}
                        {{ form.type }}
                    </div>
                    <div class="col m1"></div>
                    <div class="col m4">
                        {{ form.article.label }}
                        {{ form.article }}
                    </div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m4">
                        {{ form.paid.label }}
                        <div class="switch">
                            <label>
                                No
                                {{ form.paid }}
                                <span class="lever"></span>
                                Sí
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m4 input-field">
                        {{ form.start.label }}
                        {{ form.start(class="datepicker") }}
                    </div>
                    <div class="col m1"></div>
                    <div class="col m4 input-field">
                        {{ form.end.label }}
                        {{ form.end(class="datepicker") }}
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m4">
                        {{ form.end_type.label }}
                        {{ form.end_type }}
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col m5">
                        <h5 class="grey-text text-darken-2">Resolución Alta</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m3 input-field">
                        {{ form.res.label }}
                        {{ form.res }}
                    </div>
                    <div class="col m1"></div>
                    <div class="col m3 input-field">
                        {{ form.exp.label }}
                        {{ form.exp }}
                    </div>
                    <div class="col m3 input-field">
                        {{ form.cor.label }}
                        {{ form.cor }}
                    </div>
                </div>
                <div class="divider"></div>
                <br>
                <div class="row">
                    <div class="col m3"></div>
                    <div class="col m3">
                        <button class="btn light-blue darken-3">Crear Licencia</button>
                    </div>
                    <div class="col m3"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col m1"></div>
</div>
{% endblock %}