{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="row">
                <div class="col m8">
                    <h4>Alta de Licencia Personal</h4>
                </div>
                <div class="col m3">
                    <p>Nombre: {{user.firstname}}</p>
                    <p>Apellido: {{user.lastname}}</p>
                    <p>DNI: {{user.dni}}</p>
                </div>
            </div>
            <div class="divider"></div>
            <form action="" method="post">
                <div class="row">
                    <div class="col m5">
                        <h5 class="grey-text text-darken-2">Datos de licencia</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m4">
                        {{ form.leaveType.label }}
                        {{ form.leaveType }}
                    </div>
                    <div class="col m1"></div>
                    <div class="col m4">
                        {{ form.leaveArticle.label }}
                        {{ form.leaveArticle }}
                    </div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m4">
                        {{ form.paid.label }}
                        <div class="switch">
                            <label>
                                No
                                {{ form.paid }}
                                <span class="lever"></span>
                                Sí
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m4 input-field">
                        {{ form.leaveFrom.label }}
                        {{ form.leaveFrom(class="datepicker") }}
                    </div>
                    <div class="col m1"></div>
                    <div class="col m4 input-field">
                        {{ form.leaveTo.label }}
                        {{ form.leaveTo(class="datepicker") }}
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m4">
                        {{ form.leaveEndType.label }}
                        {{ form.leaveEndType }}
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col m5">
                        <h5 class="grey-text text-darken-2">Resolución Alta</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m3 input-field">
                        {{ form.leaveResolutionNumber.label }}
                        {{ form.leaveResolutionNumber }}
                    </div>
                    <div class="col m1"></div>
                    <div class="col m3 input-field">
                        {{ form.leaveRecordNumber.label }}
                        {{ form.leaveRecordNumber }}
                    </div>
                    <div class="col m3 input-field">
                        {{ form.leaveRelatedNumber.label }}
                        {{ form.leaveRelatedNumber }}
                    </div>
                </div>
                <div class="divider"></div>
                <br>
                <div class="row">
                    <div class="col m3"></div>
                    <div class="col m1">
                        <button class="btn red lighten-2" type="reset">Limpiar</button>
                    </div>
                    <div class="col m3"></div>
                    <div class="col m3">
                        <button class="btn light-blue darken-3">Crear Licencia</button>
                    </div>
                    <div class="col m3"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col m1"></div>
</div>
<script type="text/javascript">
    $(function () {
        $('select').formSelect();
        $('.datepicker').datepicker({
            format: 'dd-mmmm-yyyy',
            minDate: new Date(1900, 1, 1),
            showClearBtn: true,
            autoClose: true,
            i18n: {
                months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                weekdaysAbbrev: ["D", "L", "M", "M", "J", "V", "S"],
                today: 'Hoy',
                clear: 'Limpiar',
                done: 'Aceptar',
                cancel: 'Cancelar',
            },
        });
    });
</script>
{% endblock %}