{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="center">
                <h4> Listado de Licencias </h4>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col m2"></div>
                <div class="col m4">
                    <p>Nombre: {{person.firstname}}</p>
                    <p>Apellido: {{person.lastname}}</p>
                    <p>Documento: {{person.identity_numbers[0].number}}</p>
                </div>
                <div class="col m4">
                    <p>Fecha de Nacimiento: {% if person.birthdate %}{{person.birthdate.strftime('%d-%m-%Y')}}{% endif %}</p>
                    <p>Direccion: {{person.address}}</p>
                </div>
                <div class="col m2"></div>
            </div>


            <div class="divider"></div>
            <br>
            <div class="center">
                <h4> Licencias Personales </h4>
            </div>
            <br>

            <!-- para generar una licencia nueva de persona -->
            <div class="divider"></div>
            <br>
            <div class="row">
                <div class="col m12 center">
                    <a class="btn waves-effect blue lighten-1" href="{{url_for('leavelicense.create_personal_leave', uid=person.id)}}">Nueva Licencia</a>
                </div>
            </div>
            <div class="divider"></div>
            <br>            

            <div>
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th class="center">Tipo</th>
                            <th class="center">Inicio</th>
                            <th class="center">Fin</th>
                            <th class="center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in plicenses %}
                            <tr>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ lt2s(l.type) }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ l.start }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ l.end }}</a></td>
                                <td class="center"><a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="#" data-target='dropdown1'><i class="material-icons">edit</i></a></td>
                            </tr>
                            <ul id='dropdown1' class='dropdown-content'>
                                    <li><a class="red-text darken-4" href="#">Eliminar</a></li>
                            </ul>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="divider"></div>
            <br>
            <div class="center">
                <h4> Licencias Asociadas a Designaciones </h4>
            </div>
            <br>


            <!-- para generar una licencia nueva de designación -->
            <div class="divider"></div>
            <br>
            <div class="row">
                <div class="col m12 center">
                    <a class="btn waves-effect blue lighten-1" href="{{url_for('designations.personDesignations', uid=person.id)}}">Nueva Licencia</a>
                </div>
            </div>
            <div class="divider"></div>
            <br>              

            <div>
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th class="center">Tipo</th>
                            <th class="center">Lugar</th>
                            <th class="center">Cargo</th>
                            <th class="center">Carácter</th>
                            <th class="center">Dedicacion</th>
                            <th class="center">Inicio</th>
                            <th class="center">Fin</th>
                            <th class="center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in licenses %}
                            <tr>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ lt2s(l.type) }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#lugar">{{ l.designation.place.name }}, ({{l.designation.place.type.value}})</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#cargo">{{ l.designation.function.name.split('-')[0] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#caracter">{{ l.designation.function.name.split('-')[2] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#dedicacion">{{ l.designation.function.name.split('-')[1] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ l.start }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ l.end }}</a></td>
                                <td class="center"><a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="#" data-target='dropdown1'><i class="material-icons">edit</i></a></td>
                            </tr>
                            <ul id='dropdown1' class='dropdown-content'>
                                    <li><a class="red-text darken-4" href="#">Eliminar</a></li>
                            </ul>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}