{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="center">
                <h4> Registro de Eventos de Usuarios </h4>
            </div>
            <br>
            <div class="divider"></div>
            <br>
            <div>
                {% if logs %}
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th class="center">Responsable</th>
                            <th class="center">Tipo</th>
                            <th class="center">Entidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in logs %}
                        <tr>
                            <td><a class="blue-text darken-4" href="{{url_for('logs.usersLogDetail', lid=l.id)}}">{{ l.created.strftime('%H:%M:%S %d-%m-%Y') }}</a> </td>
                            <td class="center"><a class="blue-text darken-4" href="{{url_for('logs.usersLogDetail', lid=l.id)}}">{%if usersLogs%}{{usersLogs[l.authorizer_id].lastname }}, {{ usersLogs[l.authorizer_id].firstname}}{%endif%}</a></td>
                            <td class="center"><a class="blue-text darken-4" href="{{url_for('logs.usersLogDetail', lid=l.id)}}">{{ l.type.name }}</a></td>
                            <td class="center"><a class="blue-text darken-4" href="{{url_for('logs.usersLogDetail', lid=l.id)}}">{{ l.entity_id }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% elif logs != None %}
                <div class="center">
                    <h4> No se encontraron eventos </h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col m1"></div>
</div>
{% endblock %}