{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="center">
                <h4> Creación de Alumnos </h4>
            </div>
            <form action="" enctype="multipart/form-data" method="post">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col m5">
                        <h5>Datos del alumno</h5>
                    </div>
                </div>
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <div class="input-field">
                            {{ form.lastname.label }}
                            {% if form.lastname.errors %}
                            {{ form.lastname(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.lastname.errors[0]}}"></span>
                            {% else %}
                            {{ form.lastname(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m5">
                        <div class="input-field">
                            {{ form.firstname.label }}
                            {% if form.firstname.errors %}
                            {{ form.firstname(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.firstname.errors[0]}}"></span>
                            {% else %}
                            {{ form.firstname(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m2">
                        {{ form.person_number_type.label }}
                        {% if form.person_number_type.errors %}
                        {{ form.person_number_type(class="validate invalid") }}
                        <span class="helper-text red-text">Debe seleccionar una opción</span>
                        {% else %}
                        {{ form.person_number_type(class="validate") }}
                        {% endif %}
                    </div>
                    <div class="col m3">
                        <div class="input-field">
                            {{ form.person_number.label }}
                            {% if form.person_number.errors %}
                            {{ form.person_number(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.person_number.errors[0]}}"></span>
                            {% else %}
                            {{ form.person_number(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m2">
                        <div class="input-field">
                            {{ form.student_number.label }}
                            {% if form.student_number.errors %}
                            {{ form.student_number(class="validate invalid") }}
                            <span class="helper-text" data-error="{{form.student_number.errors[0]}}"></span>
                            {% else %}
                            {{ form.student_number(class="validate") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="divider"></div>
                <br>
                <div class="row">
                    <div class="col m3"></div>
                    <div class="col m1">
                        <button class="btn red lighten-2" type="reset">Limpiar</button>
                    </div>
                    <div class="col m3"></div>
                    <div class="col m2">
                        <button class="btn light-blue darken-3">Crear Alumno</button>
                    </div>
                    <div class="col m3"></div>
                </div>
                <div class="divider"></div>
                <br>
                <br>
                <div class="row">
                    <div class="col m12 center">
                        <a class="btn yellow darken-3" href="{{url_for('students.loadFile')}}">Cargar desde CSV</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col m1"></div>
</div>
{% endblock %}