<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Titulo</title>
</head>

<body class="teal lighten-5">
    <div class="navbar-fixed">
        <!-- Dropdown Structure -->
        <ul id="salir" class="dropdown-content">
            <li><a href="/auth/perfil"><i class="material-icons left">account_box</i>Perfil</a></li>
            <li class="divider"></li>
            <li><a href="/auth/logout"><i class="material-icons left">exit_to_app</i>Salir</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper cyan darken-4">
                <a href="#" class="brand-logo">&nbsp SILEG</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/auth/login"><i class="material-icons left">lock</i>Entrar</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <br>
        <br>
        <br>
        {% block content %} {% endblock %}
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".dropdown-trigger").dropdown();
        });
    </script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>M.toast({ html: '{{message}}' })</script>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>