{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="center">
                <h4> Búsqueda de Lugares </h4>
            </div>
            <div class="divider"></div>
            <br>
            <div class="col m2"></div>
            <form>
                <div class="row">
                    <div class="input-field col m6">
                        <i class="material-icons prefix">search</i>
                        {{ form.query }}
                        {{ form.query.label }}
                    </div>
                    <div class="input-field col m2">
                        <button class="btn waves-effect waves-light light-blue darken-3" type="submit">buscar</button>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <br>
            <div>
                {% if places %}
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="center">Tipo de Lugar</th>
                            <th class="center">Teléfono</th>
                            <th class="center">Correo</th>
                            <th class="center">Descripción</th>
                            <th class="center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in places %}
                        <tr>
                            <td class="blue-text darken-4">
                                {{p.name}}
                            </td>
                            <td class="center blue-text darken-4">
                                {{placeTypeToString(p.type)}}
                            </td>
                            <td class="center blue-text darken-4">
                                {%if p.telephone%}{{p.telephone}}{%endif%}
                            </td>
                            <td class="center blue-text darken-4">
                                {%if p.email%}{{p.email}}{%endif%}
                            </td>
                            <td class="center blue-text darken-4">
                                {%if p.description%}{{p.description}}{%endif%}
                            </td>
                            <td class="center">
                                <a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3"
                                    href="#" data-target="dropdown-{{p.id}}">
                                    <i class="material-icons">edit</i>
                                </a>
                            </td>
                            <ul id="dropdown-{{p.id}}" class="dropdown-content">
                                <li><a class="blue-text darken-4" href="#">Designaciones</a></li>
                                <li><a class="blue-text darken-4" href="#">Modificar</a></li>
                            </ul>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% elif places != None %}
                <div class="center">
                    <h4> No se encontraron resultados </h4>
                </div>
                {% endif %}
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}