{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="center">
                <h4> Extensión de Designacion </h4>
            </div>
            <form action="" method="post">
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <h5>Designación a Extender</h5>
                    </div>
                </div>
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m3">
                        <p>Nombre: Usuario Prueba</p>
                        <p>Apellido: Usuario Prueba</p>
                    </div>
                    <div class="col m3">
                        DNI: 123456789
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <h5>Datos de Extensión</h5>
                    </div>
                </div>
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m10">
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <h5>Asignación de Funciones</h5>
                    </div>
                </div>
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m4">
                    </div>
                    <div class="col m1"></div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <h5>Datos de Baja</h5>
                    </div>
                </div>
                <div class="row center">
                    <div class="col m1"></div>
                    <div class="col m3">
                    </div>
                </div>
                <div class="row center">
                    <div class="col m1"></div>
                    
                    <div class="col m1"></div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m5">
                        <h5>Resolución de Baja</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col m3"></div>
                    <div class="col m1">
                        <button class="btn red lighten-2" type="reset">Limpiar</button>
                    </div>
                    <div class="col m3"></div>
                    <div class="col m2">
                        <button class="btn light-blue darken-3">Crear Extension</button>
                    </div>
                    <div class="col m3"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col m1"></div>
</div>
{% endblock %}