{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="center">
                <h4> Designación </h4>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col m2">
                    <p><a class="red-text darken-4" href="{{url_for('designations.personDesignations', uid=person.id)}}">Designaciones</a></p>
                </div>
                <div class="col m4">
                    <p>Nombre: {{person.firstname}}</p>
                    <p>Apellido: {{person.lastname}}</p>
                    <p>Documento: {{person.identity_numbers[0].number}}</p>
                </div>
                <div class="col m4">
                    <p>Fecha de Nacimiento: {{person.birthdate}}</p>
                    <p>Direccion: {{person.address}}</p>
                </div>
                <div class="col m2"></div>
            </div>

            <div class="divider"></div>
            <br>

            <div class="row">
                <div class="col m4">

                    {% if designation.designation_id %}
                        <p><a class="red-text darken-4" href="{{url_for('designations.designation_detail', did=designation.designation_id)}}">Padre</a></p>
                    {% endif %}
                    <p>Tipo: {{ dt2s(designation.type) }}</p>
                    <p>Ubicación: {{ designation.place.name }}, ({{designation.place.type.value}})</p>
                    <p>Cargo: {{ designation.function.name }}</p>
                    <p>Inicio: {{ designation.start }}</p>
                    <p>Fin Original: {{ designation.end }} </p>
                    <p>Tipo de Fin: {{ det2s(designation.end_type) }}</p>
                    <p>Expediente: {{designation.exp}} / {{designation.cor}}</p>
                    <p>Resolución: {{designation.res}}</p>
                    {% if designation.deleted %}
                        <p>Eliminada: {{designation.deleted}}</p>
                    {% else %}
                        <p>Eliminada: NO </p>
                    {% endif %}
                    {% if designation.historic %}
                        <p>Baja: Sí</p>
                    {% else %}
                        <p>Baja: NO </p>
                    {% endif %}                    
                </div>

                <div class="col m4">
                    <a class="btn waves-effect blue lighten-1" href="{{url_for('designations.extend', did=designation.id)}}">Prorrogar</a>
                    <a class="btn waves-effect blue lighten-1" href="{{url_for('designations.promote', did=designation.id)}}">Extender</a>
                    <a class="btn waves-effect blue lighten-1" href="{{url_for('leavelicense.create_designation_leave_license', did=designation.id)}}">Licencia</a>
                    <a class="btn waves-effect blue lighten-1" href="{{url_for('designations.replacement_select_person', did=designation.id)}}">Suplencia</a>
                    <a class="btn waves-effect blue lighten-1" href="{{url_for('designations.discharge', did=designation.id)}}">Baja</a>

                    {% if designation.deleted %}
                        <a class="btn waves-effect blue lighten-1" href="{{url_for('designations.undelete', did=designation.id)}}">Restaurar</a>
                    {% endif %}
                </div>
        
            </div>            

            <div class="divider"></div>
            <br>

            <!-- bajas -->
            {% if designation.historic %}
                <div>
                        <div class="center">
                                <h4> Bajas </h4>
                        </div>

                    <table class="responsive-table highlight">
                        <thead>
                            <tr>
                                <th class="center">Tipo</th>
                                <th class="center">Lugar</th>
                                <th class="center">Cargo</th>
                                <th class="center">Carácter</th>
                                <th class="center">Dedicacion</th>
                                <th clasS="center">Fecha</th>
                                <th clasS="center">Expediente</th>
                                <th clasS="center">Resolución</th>
                                <th clasS="center">Razón</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in discharges %}
                                {% if d.historic %}
                                <tr class="blue-grey lighten-3">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td class="center"><a class="blue-text darken-4" href="{{url_for('designations.designation_detail', did=d.id)}}">{{ dt2s(d.type) }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#place">{{ d.place.name }}, ({{d.place.type.value}})</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#cargo">{{ d.function.name.split('-')[0] }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#caracter">{{ d.function.name.split('-')[2] }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#cargopplanta">{{ d.function.name.split('-')[1] }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type">{{ d.start }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type">{{ d.exp }} / {{d.cor}} </a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type">{{ d.res }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type">{{ d.comments }}</a></td>
                                    <td class="center">
                                        <a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="#" data-target='dropdown-{{d.id}}'>
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                </tr>
                                <ul id='dropdown-{{d.id}}' class='dropdown-content'>
                                        <li><a class="blue-text darken-4" href="#!">Modificar</a></li>
                                        <li class="divider" tabindex="-1"></li>
                                        <li><a class="blue-text darken-4" href="#!">Baja</a></li>
                                        <li><a class="blue-text darken-4" href="{{url_for('designations.convalidate', did=d.id)}}">Convalidar</a></li>
                                        <li><a class="red-text darken-4" href="{{url_for('designations.delete', did=d.id)}}">Eliminar</a></li>
                                </ul>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            <div class="divider"></div>
            <br>

            <!-- prorrogas -->
            {% if not ie(designation) %}

            <div>
                    <div class="center">
                            <h4> Prorrogas </h4>
                    </div>

                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th class="center">Tipo</th>
                            <th class="center">Lugar</th>
                            <th class="center">Cargo</th>
                            <th class="center">Carácter</th>
                            <th class="center">Dedicacion</th>
                            <th clasS="center">Inicio</th>
                            <th clasS="center">Fin</th>
                            <th clasS="center">Expediente</th>
                            <th clasS="center">Resolución</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in extensions %}
                            {% if d.historic %}
                            <tr class="blue-grey lighten-3">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td class="center"><a class="blue-text darken-4" href="{{url_for('designations.designation_detail', did=d.id)}}">{{ dt2s(d.type) }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#place">{{ d.place.name }}, ({{d.place.type.value}})</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#cargo">{{ d.function.name.split('-')[0] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#caracter">{{ d.function.name.split('-')[2] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#cargopplanta">{{ d.function.name.split('-')[1] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.start }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.end }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.exp }} / {{d.cor}} </a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.res }}</a></td>
                                <td class="center">
                                    <a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="#" data-target='dropdown-{{d.id}}'>
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                            <ul id='dropdown-{{d.id}}' class='dropdown-content'>
                                    <li><a class="blue-text darken-4" href="#!">Modificar</a></li>
                                    <li class="divider" tabindex="-1"></li>
                                    <li><a class="blue-text darken-4" href="#!">Baja</a></li>
                                    <li><a class="blue-text darken-4" href="{{url_for('designations.convalidate', did=d.id)}}">Convalidar</a></li>
                                    <li><a class="red-text darken-4" href="{{url_for('designations.delete', did=d.id)}}">Eliminar</a></li>
                            </ul>

                            <!-- bajas de prorrogas -->
                            {% for dp in d.designations %}
                                {% if dp.historic %}
                                <tr class="blue-grey lighten-3">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td class="center"><a class="blue-text darken-4" href="{{url_for('designations.designation_detail', did=dp.id)}}">{{ dt2s(dp.type) }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#place">{{ dp.place.name }}, ({{dp.place.type.value}})</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#cargo">{{ dp.function.name.split('-')[0] }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#caracter">{{ dp.function.name.split('-')[2] }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#cargopplanta">{{ dp.function.name.split('-')[1] }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type">{{ dp.start }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type"></a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type">{{ dp.exp }} / {{dp.cor}} </a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type">{{ dp.res }}</a></td>
                                    <td class="center">
                                        <a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="#" data-target='dropdown-{{d.id}}'>
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                </tr>
                                <ul id='dropdown-{{dp.id}}' class='dropdown-content'>
                                        <li><a class="blue-text darken-4" href="#!">Modificar</a></li>
                                        <li class="divider" tabindex="-1"></li>
                                        <li><a class="red-text darken-4" href="{{url_for('designations.delete', did=dp.id)}}">Eliminar</a></li>
                                </ul>
                            {% endfor %}


                        {% endfor %}

                    </tbody>
                </table>
            </div>
            {% endif %}

            <!-- extensiones -->
            {% if not ie(designation) and not ip(designation) %}

            <div>
                    <div class="center">
                            <h4> Extensiones </h4>
                    </div>

                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th class="center">Tipo</th>
                            <th class="center">Lugar</th>
                            <th class="center">Cargo</th>
                            <th class="center">Carácter</th>
                            <th class="center">Dedicacion</th>
                            <th clasS="center">Inicio</th>
                            <th clasS="center">Fin</th>
                            <th clasS="center">Expediente</th>
                            <th clasS="center">Resolución</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in promotions %}
                            {% if d.designations %}
                            <tr class="blue-grey lighten-3">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td class="center"><a class="blue-text darken-4" href="{{url_for('designations.designation_detail', did=d.id)}}">{{ dt2s(d.type) }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#place">{{ d.place.name }}, ({{d.place.type.value}})</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#cargo">{{ d.function.name.split('-')[0] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#caracter">{{ d.function.name.split('-')[2] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#cargopplanta">{{ d.function.name.split('-')[1] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.start }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.end }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.exp }} / {{d.cor}} </a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.res }}</a></td>
                                <td class="center">
                                    <a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="#" data-target='dropdown-{{d.id}}'>
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                            <ul id='dropdown-{{d.id}}' class='dropdown-content'>
                                    <li><a class="blue-text darken-4" href="#!">Modificar</a></li>
                                    <li class="divider" tabindex="-1"></li>
                                    <li><a class="blue-text darken-4" href="{{url_for('designations.extend', did=d.id)}}">Prorrogar</a></li>
                                    <li><a class="blue-text darken-4" href="#!">Baja</a></li>
                                    <li><a class="blue-text darken-4" href="{{url_for('designations.replacement_select_person', did=d.id)}}">Suplencia</a></li>
                                    <li><a class="blue-text darken-4" href="{{url_for('leavelicense.create_designation_leave_license', did=d.id)}}">Licencia</a></li>
                                    <li><a class="red-text darken-4" href="{{url_for('designations.delete', did=d.id)}}">Eliminar</a></li>
                            </ul>

                            <!-- bajas de extension -->
                            {% for dp in d.designations %}
                                {% if dp.historic %}
                                <tr class="blue-grey lighten-3">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td class="center"><a class="blue-text darken-4" href="{{url_for('designations.designation_detail', did=dp.id)}}">{{ dt2s(dp.type) }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#place">{{ dp.place.name }}, ({{dp.place.type.value}})</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#cargo">{{ dp.function.name.split('-')[0] }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#caracter">{{ dp.function.name.split('-')[2] }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#cargopplanta">{{ dp.function.name.split('-')[1] }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type">{{ dp.start }}</a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type"></a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type">{{ dp.exp }} / {{dp.cor}} </a></td>
                                    <td class="center"><a class="blue-text darken-4" href="#type">{{ dp.res }}</a></td>
                                    <td class="center">
                                        <a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="#" data-target='dropdown-{{d.id}}'>
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                </tr>
                                <ul id='dropdown-{{dp.id}}' class='dropdown-content'>
                                        <li><a class="blue-text darken-4" href="#!">Modificar</a></li>
                                        <li class="divider" tabindex="-1"></li>
                                        <li><a class="red-text darken-4" href="{{url_for('designations.delete', did=dp.id)}}">Eliminar</a></li>
                                </ul>
                            {% endfor %}                            


                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <!-- prorrogas de extensiones -->
            {% if not ip(designation) and not ie(designation) %}
            <div>
                    <div class="center">
                            <h4> Prorrogas de Extensiones </h4>
                    </div>

                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th class="center">Tipo</th>
                            <th class="center">Lugar</th>
                            <th class="center">Cargo</th>
                            <th class="center">Carácter</th>
                            <th class="center">Dedicacion</th>
                            <th clasS="center">Inicio</th>
                            <th clasS="center">Fin</th>
                            <th clasS="center">Expediente</th>
                            <th clasS="center">Resolución</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in promotions %}
                        {% for d in p.designations %}
                            {% if d.designations %}
                            <tr class="blue-grey lighten-3">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td class="center"><a class="blue-text darken-4" href="{{url_for('designations.designation_detail', did=d.id)}}">{{ dt2s(d.type) }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#place">{{ d.place.name }}, ({{d.place.type.value}})</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#cargo">{{ d.function.name.split('-')[0] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#caracter">{{ d.function.name.split('-')[2] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#cargopplanta">{{ d.function.name.split('-')[1] }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.start }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.end }}</a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.exp }} / {{d.cor}} </a></td>
                                <td class="center"><a class="blue-text darken-4" href="#type">{{ d.res }}</a></td>
                                <td class="center">
                                    <a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="#" data-target='dropdown-{{d.id}}'>
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                            <ul id='dropdown-{{d.id}}' class='dropdown-content'>
                                    <li><a class="blue-text darken-4" href="#!">Modificar</a></li>
                                    <li class="divider" tabindex="-1"></li>
                                    <li><a class="blue-text darken-4" href="#!">Baja</a></li>
                                    <li><a class="red-text darken-4" href="{{url_for('designations.delete', did=d.id)}}">Eliminar</a></li>
                            </ul>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}