{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col m1"></div>
    <div class="col m10">
        <div class="card-panel grey lighten-5">
            <div class="center">
                <h4> Suplente </h4>
            </div>
            <div class="divider"></div>
            <br>
            <div class="col m2"></div>
            <form>
                <div class="row">
                    <div class="input-field col m6">
                        <i class="material-icons prefix">search</i>
                        {{ form.query }}
                        {{ form.query.label }}
                    </div>
                    <div class="input-field col m2">
                        <button class="btn waves-effect waves-light light-blue darken-3" type="submit">buscar</button>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <br>
            <div>
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th>Apellido y Nombre</th>
                            <th>Documento</th>
                            <th class="center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in persons %}
                        <tr>
                            <td><a class="blue-text darken-4" href="#userId">{{ p.firstname }}, {{ p.lastname }}</a> </td>
                            <td><a class="blue-text darken-4" href="#">{{ p.identity_numbers[0].number }}</a></td>
                            <td class="center">
                                <a class="dropdown-trigger btn-floating waves-effect waves-light yellow darken-3" href="{{url_for('designations.replacement_create_designation', did=did, uid=p.id)}}" data-target="{{p.id}}">
                                    <i class="material-icons">done</i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}